<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app.css') }}">
</head>

<body>
  <label for="investment">Initial Investment:</label>
  <input type="text" id="investment" name="investment" value="100"><br><br>
  <label for="investment_date">Investment Date:</label>
  <select id="investment_date" name="investment_date">
  </select><br><br>
  <input type="submit" value="Update" onclick="update()"><br><br>
  
  <script>
    var pricing_dates = [];
    var pricing = [];
    
    d3.json("/sample_data").then(function(data) {
      pricing_dates = data[0].pricing_history.map(function(d) { return d.date; });
      for (var i = 0; i < data.length; i++) {
        my_pricing_dates = data[i].pricing_history.map(function(d) { return d.date; });
        my_pricing_prices = data[i].pricing_history.map(function(d) { return d.price; });
        for (var j = 0; j < pricing_dates.length; j++) {
          if (my_pricing_dates[j] != pricing_dates[j]) {
            my_pricing_dates.splice(j, 0, pricing_dates[j]);
            my_pricing_prices.splice(j, 0, "-");
          }
        }
        pricing[i] = [data[i].name].concat(my_pricing_prices);
      }
      
      var options = d3.select("#investment_date")
        .selectAll("option")
        .data(pricing_dates)
        .enter()
        .append("option")
        .text(function (datum) { return datum; });      

      var body = d3.select("body");
      var table = body.append("table");

      var thead = table.append("thead");
      var tr = thead.append("tr")
      var th = tr.selectAll("th")
        .data(['Crypto'].concat(pricing_dates))
        .enter()
        .append("th")
        .text(function (datum) { return datum; });

      var tbody = table.append("tbody");
      var tr = tbody.selectAll("tr")
        .data(pricing)
        .enter()
        .append("tr");
      var td = tr.selectAll("td")
        .data(function(datum) { return datum; })
        .enter()
        .append("td")

      update();
    })

    function update() {
      var value = [];
      var investment = d3.select("#investment").property("value");
      var investment_date = d3.select("#investment_date").property("value");
      
      for (var i = 0; i < pricing.length; i++) {
        var shares = 0;
        value[i] = [];
        value[i][0] = pricing[i][0];
        for (var j = 1; j < pricing[i].length; j++) {
          if (investment_date > pricing_dates[j-1]) {
            value[i][j] = "-"
          }
          else if (investment_date == pricing_dates[j-1]) {
            if (pricing[i][j] != "-") {
              shares = investment / pricing [i][j];
              value[i][j] = d3.format("($,.2f")(investment);
            }
            else {
              shares = 0;
              value[i][j] = "-"
            }
          }
          else if (investment_date < pricing_dates[j-1]) {
            if (pricing[i][j] != "-") {
              value[i][j] = d3.format("($,.2f")(shares * pricing[i][j]);
            }
            else {
              value[i][j] = "-"
            }
          }
        }
      }
      
      var tbody = d3.select("tbody");
      var tr = tbody.selectAll("tr")
        .data(value);

      var td = tr.selectAll("td")
        .data(function(datum) { return datum; })
        .text(function(datum) { return datum; });
    };
  </script>
</body>