<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app.css') }}">
</head>

<body>
  <script>
    d3.json("/sample_data").then(function(data) {
      var body = d3.select("body");
      var table = body.append("table");
      var thead = table.append("thead");
      var tbody = table.append("tbody");
      
      var th = thead.append("tr")
        .selectAll("th")
        .data(['Crypto', data[0].pricing_history.map(function(d) { return d.date; })])
        .enter()
        .append("th")
        .text(function (datum) { return datum });
    })
  </script>
</body>